.product-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 50px auto;
    overflow-y: auto;
}
.product__card-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 10px;
}
.product-card{
    width: 300px;
    // height: 500px;
    border-radius: 25px;
    overflow: hidden;
    color: #fff;
    padding-bottom: 10px;
    // box-shadow: 0 0 5px rgb(234, 231, 231);
    .card-img{
        width: 100%;
        height: 250px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            transition: 0.3s;
            &:hover{
                transform: scale(1.09);
            }
        }
    }
}
.product-content{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-top: 10px;
    padding: 0px 10px;
    h3{
        font-size: 20px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
        line-height: 20px;
        color: #b8b6b6;
    }
   .price-card{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0px 30px;
    strong{
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }
    del{
        font-size: 18px;
        font-weight: 700;
        color: #181fa6;
        padding: 3px 5px ;
        border: 1px solid #1851a6;
        border-radius: 4px;
        
    }
   }
   .card-btns{
    display: flex;
    align-items: center;
    gap: 0px 17px;
        .view-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            padding: 10px 0px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border-radius: 30px;
            background-color: #3918a6;
            transition: 0.3s;
            text-decoration: none;
        }
        .addcart-btn{
            border: none;
            border: 1px solid #18a661;
            // width: 100px;
            
            border-radius: 5px;
            // background: transparent;
            // padding:8px 10px 2px 9px;
            color: #4a18a6;
            font-size: 12px;
            transition: 0.2s;
        }
   }
}